
@{
    ViewBag.Title = "viewprofile";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0)">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Profile View</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">
                Name <a href="/profile/list" class="btn btn-primary pull-right" onclick="GotoProfileList()">Profile List</a>
            </div>

            <input type="hidden" id="hiddenselecteduserid" value="" />
            <div class="panel-body">
                <table class="new-tble scrol-tble">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td> <label>Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td> <label>Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Experience</td>
                            <td> <label>Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Industry</td>
                            <td> <label>Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td> <label>Naresh Enjapuri</label></td>
                        </tr>
                       
                    </tbody>
                </table>

            </div>
        </div>

    </div><!--/.panel-->
</div>

@Scripts.Render("~/bundles/editjob")


