
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,600i,700,800');
html,
body {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight:500;
 
   
}

.mandatory{color:red;}

/* **************Spacing ********************/
.mspace{margin-top:50px;margin-bottom:70px;}
.mspace2{margin-top:60px;margin-bottom:30px;}
.mspace3{margin-top:100px;margin-bottom:100px;}
.mtop2{margin-top:20px;}
.mtop4{margin-top:40px;}
.mtop6{margin-top:60px;}
.mbtm{margin-bottom: 20px;}
.section-headings{margin-top:60px;margin-bottom:60px;}
h4{margin-top: 7px !important;}

/*dropdown caret */
.styled-select select {
    background: transparent;
    width: 100%;
    font-size: 13px;
    line-height: 1;
    border:1px solid #E0E0E0;
    border-radius: 5px;
    padding-left: 14px;
 
    height: 46px;
    -webkit-appearance: none;
    cursor: pointer;
    -moz-appearance:none;
}
.styled-select {
    width: 24%;
    height: 46px;
   padding:0 !important;list-style-type: none !important;
    background: url(../images/drop.png) no-repeat right #fff;
    
}
.selebox{width:20% !important;padding-left: 0 !important;}
.selebox select{padding-left: 5px !important;}
.styled-select select:focus{outline:0px;}
.styled-select > select >option {
    color: #555555;
    background: #f2f2f2;
    cursor: pointer;
    font-size: 20px;
}
.nopadding{padding-left:5px;padding-right:5px;}
.active p{ font-weight: 400;}
.active .count{background:#82c244 !important;color:#fff !important; }
.box-text{color: #676666 !important;font-size: 15px;font-style: italic;line-height: 27px;padding-left: 10px;padding-right: 10px;}

/*---- dropdown menu >>SEND SMS || SEND MAIL || SHARE ------*/
.open>.dropdown-menu{
    background-color: #f3f3f3;
    border: 0 none;
    border-radius: 6px;
    color: #676666;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    padding: 10px;
	margin-top:18px;
}
.dropdown-smsmenu,.dropdown-sharemenu,.dropdown-mailmenu,.dropdown-smsmenu-small,.dropdown-sharemenu-small,.dropdown-mailmenu-small {
    top:inherit !important;
    left:14px;
}

.dropdown-smsmenu input,.dropdown-mailmenu input{
    width: 250px;height: 39px;border-radius: 17px;background-color: #ffffff;border: 0;padding-left: 20px;
}
.dropdown-sharemenu input{ 
    width: 450px;height: 39px;border-radius: 17px;background-color: #ffffff;border: 0;padding-left: 30px;
}

.dropdown-smsmenu-small input{ width: 180px;height: 39px;border-radius: 17px;background-color: #ffffff;border: 0;padding-left: 20px;}
.dropdown-mailmenu-small input{
    width: 200px;height: 39px;border-radius: 17px;background-color: #ffffff;border: 0;padding-left: 20px;
}
.dropdown-sharemenu-small input{ 
    width: 300px;height: 39px;border-radius: 17px;background-color: #ffffff;border: 0;padding-left: 30px;
}

.open>.dropdown-smsmenu:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f3f3f3;
}
.open>.dropdown-sharemenu:after {
    content: "";
    position: absolute;
    top: -13px;
    right: 18%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f3f3f3;
}
.open>.dropdown-mailmenu:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 60%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f3f3f3;
}

.open>.dropdown-smsmenu-small:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f3f3f3;
}
.open>.dropdown-sharemenu-small:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f3f3f3;
}
.open>.dropdown-mailmenu-small:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 25%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f3f3f3;
}
.send-btn{background-color: #82c244;border-radius: 17px;height: 39px;width: 83px;color: #ffffff;font-size: 12px;font-weight: 500;border: 0; margin:0 10px;}
.save-btn{background-color: #82c244;height: 62px;font-size: 21px;font-weight: 900;color: #ffffff;width: 70%;border:0;}

.link-icon{top:31px;left:10px;}
.link-small-icon{padding: 7px;}
/*---  >>removing default bootstrap input focus outlines ----*/
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   outline: 0 none}

/* ---------------------------------- */
/*            login navigation         */
/* ---------------------------------- */
.s-icon{padding: 5px;color: #0089cb;background: #fff;font-size: 12px;font-weight: 400;width: 24px;height: 24px;border-radius: 50%;line-height: 24px; text-align: center;}
.s-icon2{color: #ffffff;font-size: 11px;font-weight: 400;width: 24px;height: 24px;border-radius: 50%;line-height: 24px; transition: all 0.1 ease;text-align: center;}
.s-icon:hover{ transition: all 0.1 ease;}
.navbar-inverse .navbar-nav>li>a{  padding:0px 5px;margin:10px 0;border-radius: 30px;transition: all 0.3s ease-out;color: #595959;font-size: 15px;font-weight: 400; }
.account-btn:hover{ color:#fff !important;}
.left-devider{  margin:0 0px 0 10px;}
.navbar-inverse{z-index: 99999; background: #0089cb; border: 0;}
.navbar-inverse .navbar-brand img{padding-top: 5px;}
.login-dropdown{border-radius: 0 !important;}
.login-dropdown li a{font-style: normal;}
.login-dropdown li a:hover{color:#82c244 !important;}
.avatar{height: 24px;}
ul{padding:0;}
/* ---------------------------------- */
/*            menu Navigation         */
/* ---------------------------------- */
.navbar-default{background-color: #ffffff;  border:0; z-index: 9998;
    -webkit-box-shadow: 0 1px 1px -1px #E0E0E0;
       -moz-box-shadow: 0 1px 1px -1px #E0E0E0;
            box-shadow: 0 1px 1px -1px #E0E0E0; }
.navbar-default .navbar-nav>li>a{color: #2e3841;font-size: 15px;font-weight: 400;border-radius: 20px;padding: 6px 12px; margin:0 8px;}
.navbar-default .navbar-nav>li>a:hover{color: #fff;background-color: #82c244;}
 
.menutop a{color: #fff !important}
/* ---------------------------------- */
/*       Carousel Header Slider       */
/* ---------------------------------- */
 
.menu-nav .navbar-nav{margin:17px 0}

.menutop {
    margin: 0;
    border-radius: 0;
}
.menu-nav {
    margin: 0;
    padding: 7px 0;
}

.menu-nav .dropdown-menu li i{padding-right: 7px; color: #0089cb;}
.menu-nav .dropdown-menu li a:hover{color:#0089cb }
.carousel-control {
  top: 45%;
    width: 0;
    height: 84px;
    opacity: 1;
     
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
 
  background-color:#bbb;
  overflow:hidden;
}
.carousel img {
  min-height: 100%
  min-width: 100%;
}
 
#myCarousel >.carousel-indicators li{background-color: #ffffff;width: 12px;height: 12px;border-color: #E0E0E0;}
#myCarousel >.carousel-indicators .active{background-color: #82c244;height: 14px;width: 14px;}
#myCarousel >.carousel-indicators {
    left: 50%;
    background: #ffffff;border-radius: 15px;
    margin-left: -2%;
    width:81px;padding-top:10px;padding-bottom: 6px;
    bottom:10%;
}
#searchForm {
	position:absolute;
  	top:23%;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
 


/*slider triggers " < ", " > " buttons */
.search-glyleft{color:#727272;width: 53px !important;height: 84px !important;background-color: rgba(255, 255, 255, 0.8); position: absolute !important;
  top: 0px !Important;line-height: 84px;
  left: 0 !Important;}
.search-glyright{color:#ffffff;width: 53px !important;height: 84px !important;background-color: rgba(221, 97, 97, 0.8); position: absolute !important;
  top: 0px !Important;line-height: 84px;
  right: 0 !Important;}
  .success_stories h1 {
	text-align: center;
	color: #93363c;
	font-size: 22px !important;
	font-weight: bold;
	text-transform: uppercase;
}
.success_stories {
	background: #fff none repeat scroll 0 0;padding: 60px 0;
}
.success_stories small {
	display: table;
 
	position: relative;
	text-align: center !important;
}

.first_su small .btn{background: #82c244; color: #fff;    font-weight: bold; }
.st {	width: 100%;
	float: left;
}
.st ul {
	margin: 0;
	padding: 0;
}
.st ul li {
	float: left;
	list-style: outside none none;
	text-align: right;
	width: 100%;
}
.st ul::before {
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	content: "";
	height: 100%;
	left: 50%;
	position: absolute;
	width: 10px;
}
.first_su {
	float: left;
	position: relative;
	clear: both;
}
.succ_con {
	clear: both;
	color: #8c8c8c;
	float: left;
	line-height: 19px;
	max-width: 330px;
	padding: 0 18px;
	position: relative;
	width: 100%;
}
.succ_con small {
	float: right;
}
.su_img {
	float: left;
}
.su_img img {
	border: 1px solid #93363c;
	border-radius: 100%;
	height: 125px;
	padding: 6px;
	width: 125px;
}
.st li::after {
	background: #cbcbcb none repeat scroll 0 0;
	border-radius: 100%;
	content: "";
	height: 40px;
	left: 48.7%;
	margin: auto;
	position: absolute;
	top: 44px;
	width: 40px;
}
.st li:hover::after {
	background: #0089cb none repeat scroll 0 0;
}
.st li.round:hover::after {
	background: #0089cb none repeat scroll 0 0;
}
.st li.round1:hover::after {
	background: #0089cb none repeat scroll 0 0;
}
.st li.round::after {
	background: #cbcbcb none repeat scroll 0 0;
	border-radius: 100%;
	content: "";
	height: 40px;
	left: 48.7%;
	margin: auto;
	position: absolute;
	top: 42%;
	width: 40px;
}
.st li.round1::after {
	background: #cbcbcb none repeat scroll 0 0;
	border-radius: 100%;
	content: "";
	height: 40px;
	left: 48.7%;
	margin: auto;
	position: absolute;
	top: 75%;
	width: 40px;
}
.succ_con h3 {
	color: #0089cb;
	font-size: 21px;
	font-weight: bold;
}
.right_succ {
	float: right;
	text-align: left;
}
.right_succ small {
	float: left;
}
/*LOVE & RELATIONSHIP & BABY*/
 
.astro-services{ background:#e7eef6 ; padding: 60px 0; }
.astro-love-rele { border: 0 none;box-shadow: none;  border-radius: 0; margin: 0;}
.astro-love-rele .panel-heading{ background: #fff;  font-size: 21px; text-transform: uppercase; color: #5a387b;}
.astro-love-rele .panel-heading img {  margin: 0 10px 0 0;}
.astro-serv-hed {  color: #fff;    font-size: 28px;    margin: 0;}
.astro-serv-hed + p{ margin: 0; color: #fff;  font-size: 16px;}
.astro-love-img > img { height: 243px;   width: 100%;}
.astro-love-img{ position: relative; overflow: hidden}

/*This is Plus Icon Css*/
.astro-dark{display: flex; justify-content: center; align-items: center; color: #fff;  }
.astro-dark span{ z-index: 9999999999; position: relative; transition-delay:1s;  transition: 1s; color: #5a406f;  padding: 10px; opacity: 0; background: #fff; font-size:20px;}
.astro-love-rele:hover .astro-dark span, .astro-astologer-list li .astro-astologer-single:hover span { opacity:1;  transition: 1s;  transition-delay: 1s; }
.astro-dark span:hover{ background: #e46580; color: #fff;}
/*This is Plus Icon CSS*/
.st p{line-height: 26px;}
/*This is Dark Div After hover CSS*/
.astro-dark { position: absolute; background: rgba(0,0,0,0.8); top:0;  width: 0; transition: 1s; height: 0; left: 0; right: 0; bottom: 0; top: 0; margin: auto; }
.astro-love-rele:hover .astro-dark{ width: 100%; height: 100%; transition: 1s; }
/*This is Dark Div After hover CSS*/
.captt{position: relative;}
.captt .carousel-caption{left: 0;text-align: left; margin: 150px 0;float: left;
width: 100%; background: rgba(191,30,46,0.8);padding: 50px; }
.cer {
    border: 1px solid #e4e4e4;
    padding: 10px;
}
.captt .carousel-caption h2 { font-size: 36px;line-height: 49px;
    font-weight: 800;
    margin: 0; }
    .captt .carousel-caption p{color: #fff !important; line-height: 27px;font-size: 17px;
        margin: 15px 0 0;}
 
 .astro-love-rele figcaption{ padding: 30px; }       
 .astro-love-rele figcaption h2{margin-top: 0; font-weight: bold; font-size: 19px; color: #82c244}
 .astro-love-rele figcaption p{line-height: 27px;}
 .astro-love-rele figcaption .btn{background: #0089cb; border: 0; padding: 10px 15px;}
 .astro-love-rele figcaption .btn a{color: #fff;}
 
/* Feature Scroller */
.features{ z-index:10; background:#fff; float:left; position:relative; width:100%;   padding: 60px 0 ;} 
.mainhead, .hed { margin:0; color: #0089cb;    font-size: 24px;   font-weight: bold;    line-height:40px;    text-align: center;    text-transform: uppercase; }
.sub-hed{text-align: center; margin-bottom: 25px}
.features .owl-item { margin: 0 3px;    min-width: 267px !important;   width: 100%;}
.features .owl-item img{width:100%; }
.img-heading{  bottom:0; background:rgba(40,40,145,0.9);  opacity:1; -moz-opacity:1; -ms-opacity:1; -o-opacity:1;  -webkit-opacity:1; transition: 1s; -webkit-transition: 1s; 
-o-transition: 1s; -moz-transition: 1s; -ms-transition: 1s; line-height:21px; font-size: 16px;
font-weight: bold;  bottom: 0;   color: #fff;      padding: 20px;    position: absolute;  width: 100%;}
.img-heading small{ font-weight:lighter; font-size:14px; display:block; margin: 4px 0 0; }
.flippingDiv{ position:absolute; color:#fff; transition: 1s; -webkit-transition: 1s; -o-transition: 1s;   -moz-transition: 1s;  -ms-transition: 1s; width:100%; height:100%;
    background:rgba(40,40,145,0.8); top:0;  opacity:0; -moz-opacity:0; -ms-opacity:0; -o-opacity:0;  -webkit-opacity:0; }
.owl-item:hover .img-heading{  opacity:0; -moz-opacity:0; -ms-opacity:0; -o-opacity:0;  -webkit-opacity:0; transition: 1s; -webkit-transition: 1s; -o-transition: 1s;   -moz-transition: 1s;  -ms-transition: 1s;}
.owl-item:hover .flippingDiv{   
 
		    -webkit-transition: 1s;
		    -webkit-transform-style: preserve-3d;
		    -webkit-transform: rotateY(360deg);
			-webkit-opacity:1;

		    -moz-transition: 1s;
		    -moz-transform-style: preserve-3d;
		    -moz-transform: rotateY(360deg);
			 -moz-opacity:1;

		    -o-transition: 1s;
		    -o-transform-style: preserve-3d;
		    -o-transform: rotateY(360deg);
			-o-opacity:1; 

		    -ms-transition:1s;
		    -ms-transform-style: preserve-3d;
		    -ms-transform: rotateY(360deg);
			 -ms-opacity:1; 

		    transition:1s;
		    transform-style: preserve-3d;
		    transform: rotateY(360deg);
            background:rgba(40,40,145,0.9);
			opacity:1;
			
			 }
.content-eve{ padding:35px 18px;}
.content-eve small{ float:left; width:100%; margin-bottom:12px; font-size: 15px; }
.content-eve h3{font-size: 20px; font-weight: bold; margin-bottom: 6px;} 
.content-eve p { display:table; padding:10px 0 0; line-height:25px;}
.socila-event{ width:100%; float:left; padding:10px; bottom: 72px; position: inherit; }
.socila-event{ text-align:center; background:rgba(250,250,250,0.3); }
.socila-event a img {    width: auto !important; }
.book-tickets{  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0; bottom: 0; float: left; font-size: 21px; padding: 21px; position: absolute; text-align: center; width: 100%; }
.book-tickets a{ color:#fff;}
.more { float: right; }
.more a {color:#fff; }
.background { background: url(../images/bg.png);     padding-bottom: 3em;  min-height:160%;  width: 100%; margin-top:-400px; float:left; position:relative; }
 .support { float: left; padding-top: 29em; position: relative;    width: 100%; } 
.bxxx h1{margin: 0}
.salef-r{padding: 60px 0}
.salef-r .panel {box-shadow: 0px 0px 16px #B8C8FF}
.salef-r .panel h2{margin: 0}
.salef-r .panel small{padding-bottom: 7px; display: block}
.learn-more{ background: #0089cb; display: flex; flex-flow: row wrap; margin: 30px 0 0}
.learn-more [class*="col-lg-"]{   flex-basis: 50%;    max-width: 50%;}
.learn-more .col-lg-6:nth-child(2){ background: url(../images/learn.png)  no-repeat  0 0 / cover }
.learn-more .col-lg-6:nth-child(1){ padding:67px}
.learn-more h1 { color: #fff; font-size: 36px; font-style: italic;    margin-bottom: 20px;}
.learn-more h4{ color: #fff; font-size: 20px; font-weight: lighter;    margin-bottom: 20px;}
.learn-more p{ color: #fff; font-size: 15px; font-weight: lighter;    margin-bottom: 20px;}
.footer {    background:  #06114f ;    float: left;    padding: 30px 0;    width: 100%;}
 .footer h3 {    color: #fff;   font-size: 22px; text-align:center;   font-weight:600;  margin:  0px;}
.footer ul {   margin: 0;  padding: 12px 0 0;}
.footer ul li {    color: #fff;   float: left;padding: 0 15px; font-size: 13px;    line-height: 30px;    list-style: outside none none;}
.footer ul li a {    color: #fff;}
.footer ul li:hover a {    color: #82c244;}
.footer input[type="email"] { border: 0 none; color: #acacac; float: left; font-size: 14px; font-style: italic; height: 50px; max-width: 354px; padding: 12px; width: 100%;}
.footer button {    background: #82c244  ;   border: 0 none; float: left;    height: 50px;    text-align: center;    width: 56px;}
.footer i {    background: #fff  ;   border-radius: 100%;    color: #82c244; font-size: 16px;  height: 40px; line-height: 41px;   margin: 3px 5px 0 0;  text-align: center;width: 40px;}
.footer-con {    padding-top: 16px;}
.footer i:hover {    background: #82c244  ;    color: #fff;}
.contacts i {    background: rgba(0, 0, 0, 0) none repeat scroll 0 0; height: auto; margin: 0;    padding: 0;    width: auto;}
.bottomFooter {   color: #fff;  float: left;   font-size: 14px;    font-weight: lighter;    width: 100%;}
.bottomFooter a {    color: #82c244;}
.footer ul li i {    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;    color: #82c244;    font-size: 14px;    height: auto;   line-height: 15px;   margin-bottom: 0;    margin-right: 10px;    margin-top: 0;    width: auto;}
.footer h2 {    color: #fff; float: left; font-size: 24px; font-weight: bold; margin: 0 20px 0 0;} 
.footer h2 p{ font-size: 13px; font-weight: lighter}
.footer hr { margin: 20px 0; border-color: #182678; }
.testimonial{    padding: 0 15px;   text-align: center;}
.testimonial .pic{  height: 126px;   margin-bottom: 10px;    overflow: hidden;    width: 126px;  border-radius: 50%;    display: inline-block;}
.testimonial .pic img{    width: 100%;   height: auto;}
.testimonial .description{ color: #000;    font-size: 16px;    font-weight: lighter;   line-height: 26px;}
.testimonial .testimonial-title{  color: #000;    font-size: 18px;   margin: 0;}
.testimonial .testimonial-title:after{ content: "\f10d"; font-family: 'FontAwesome';   display: inline-block; width: 100%; font-size: 30px; color: #4c699e;    margin-top:10px;}
.testi{ background: #fff;padding: 60px 0;  padding-bottom: 60px;}
.inner-ban{background: url(../images/inner-banner.jpg) center; text-align: center; color: #fff; padding: 20px 0}
.inner-ban h1{font-weight: bold;}
.inner-ban .breadcrumb{background: none}
.inner-ban .breadcrumb li{color: #fff;}
.inner-ban .breadcrumb li a{color: #fff; font-weight: bold}
.conte {    background: #f1f6f8;}
.full-left-list li {
	padding: 0 !important;
	margin-bottom: 25px;
}
.profile-tabs .nav.nav-tabs {
	border: 0 none;
}
.profile-tabs {
	padding: 0px !important;
	background: #fff;
}
.profile-tabs ul li {
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
	padding: 6px;
}
.profile-tabs ul li + li {
	border-left: 1px solid #f1f3f7
}
.profile-tabs ul li.active a, .profile-tabs ul li:hover a, .profile-tabs ul li a:focus {
	color: #82c244 !important;
	background: none !important
}
.profile-tabs ul li a {
	border: 0 !important;
	color: #29333d;
	font-weight: 500
}
.profile-tabs ul li a i{ color:#ccc }
.profile-tabs .nav.nav-tabs {
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.inner-pages {
    float: left;
    padding: 20px;
    width: 100%;
    background: #fff; margin: 15px 0;
}
 .inner-pages p{line-height: 26px;}
.inner-pages h3{display: block; color: #0089cb;
    font-weight: bold;}
blockquote{font-style: italic;font-weight: bold}
ul li{line-height: 32px;}
 
.banner .carousel-caption{top:78px}
.banner .carousel-caption h1{font-size: 59px;    font-weight: bold;}
.banner .carousel-caption p{font-size: 22px;}
/* Home Intro */
.home-intro {
	background-color: #171717;
	margin-bottom: 30px;
	overflow: hidden;
	padding:16px 0 20px 0;
	position: relative;
	text-align: left;
}

.home-intro p {
	color: #FFF;
	display: inline-block;
	font-size: 1.4em;
	
	max-width: 800px;
	padding-top: 5px;
}

.home-intro p span {
	color: #999;
	display: block;
	font-size: 0.8em;
 
}

.home-intro p em {
	font-family: "Shadows Into Light", cursive;
	font-size: 1.6em;
}

.home-intro .get-started {
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
	text-align: right;
}

.home-intro .get-started .btn {
	position: relative;
	z-index: 1;
}

.home-intro .get-started .btn i {
	font-size: 1.1em;
	font-weight: normal;
	margin-left: 5px;
}

.home-intro .get-started a {
	color: #FFF;
}

.home-intro .get-started a:not(.btn) {
	color: #777777;
}

.home-intro .learn-more {
	margin-left: 15px;
}

.home-intro.light {
	background-color: #E2E2E2;
}

.home-intro.light.secondary {
	background-color: #E0E1E4;
}

.home-intro.light p {
	color: #777777;
}

/* Home Intro Compact */
.home-intro-compact {
	border-radius: 0 0 10px 10px;
	margin-top: -10px;
}

.home-intro-compact p {
	padding-left: 20px;
}

.home-intro-compact .get-started {
	padding-right: 20px;
}

 .home-intro .learn {
    margin-left: 15px;
}
.read-more, .learn {
    display: inline-block;
    white-space: nowrap;
}
.lead {
    font-size: 14px;color: #777777;
}

/* Feature Box */
.feature-box {
	clear: both;
}

.feature-box .feature-box-icon {
 
    font-size: 18px;
	border-radius: 35px;
	color: #FFF;
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 35px;
}

.feature-box .feature-box-info {
	padding-left: 50px;
}

/* Style 2 */
.feature-box.feature-box-style-2 h4 {
	color: #1d2127;
}

.feature-box.feature-box-style-2 .feature-box-icon {
	background: transparent;
	width: 50px;
	height: 50px;
}

.feature-box.feature-box-style-2 .feature-box-icon i.fa,
.feature-box.feature-box-style-2 .feature-box-icon i.icons {
	font-size: 28px;
}

.feature-box.feature-box-style-2 .feature-box-info {
	padding-left: 60px;
}

/* Style 3 */
.feature-box.feature-box-style-3 h4 {
	color: #1d2127;
}

.feature-box.feature-box-style-3 .feature-box-icon {
	border: 1px solid #CCC;
	background: transparent;
	line-height: 32px;
}

.feature-box.feature-box-style-3 .feature-box-icon i.fa,
.feature-box.feature-box-style-3 .feature-box-icon i.icons {
	color: #CCC;
}

/* Style 4 */
.feature-box.feature-box-style-4 h4 {
	color: #1d2127;
}

.feature-box.feature-box-style-4 .feature-box-icon {
	background: transparent;
	padding-bottom: 10px;
	height: auto;
	width: auto;
	float: none;
}

.feature-box.feature-box-style-4 .feature-box-icon i.fa,
.feature-box.feature-box-style-4 .feature-box-icon i.icons {
	font-size: 38px;
}

.feature-box.feature-box-style-4 .feature-box-info {
	clear: both;
	padding-left: 0;
}

/* Style 5 */
.feature-box.feature-box-style-5 h4 {
	color: #1d2127;
}

.feature-box.feature-box-style-5 .feature-box-icon {
	background: transparent;
	width: 74px;
	height: 74px;
}

.feature-box.feature-box-style-5 .feature-box-icon i.fa,
.feature-box.feature-box-style-5 .feature-box-icon i.icons {
	font-size: 44px;
}

.feature-box.feature-box-style-5 .feature-box-info {
	padding-left: 84px;
}

/* Style 6 */
.feature-box.feature-box-style-6 h4 {
	color: #1d2127;
}

.feature-box.feature-box-style-6 .feature-box-icon {
	border: 1px solid #cecece;
	background: transparent;
	line-height: 32px;
}

.feature-box.feature-box-style-6 .feature-box-icon:after {
	border: 3px solid #f4f4f4;
	border-radius: 50%;
	box-sizing: initial;
	content: "";
	display: block;
	height: 100%;
	left: -4px;
	padding: 1px;
	position: absolute;
	top: -4px;
	width: 100%;
}

.feature-box.feature-box-style-6 .feature-box-icon i.fa,
.feature-box.feature-box-style-6 .feature-box-icon i.icons {
	color: #a9a9a9;
}
.feature-box.feature-box-style-2 .feature-box-icon i.fa, .feature-box.feature-box-style-2 .feature-box-icon .icons {
    color: #0088cc;
}section.section {
    background: #e7eef6;
    /*border-bottom: 1px solid #f5f5f5;*/
    margin: 0;
    padding: 50px 0;
}
 .job-view .flex-wrap li{ height:auto;width: 80%;}
.tall{color: #fff}
p.tall {    margin-bottom: 20px;}
 p{line-height: 26px;}
.counters .counter {
	text-align: center;padding: 40px 0;
}

.doctor-img {
 
    float: left;
    width: 190px;
}
.counters .fa, .counters .icons {
	display: block;
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 5px;
}

.counters strong {
	display: block;
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
}

.counters label {
	display: block;
	font-weight: 100;
	font-size: 20px;
	line-height: 20px;
}

.counters .counter-side-icon .fa, .counters .counter-side-icon .icons, .counters .counter-side-icon strong {
	display: inline-block;
}

.counters .counter-with-unit strong {
	display: inline-block;
}

.counters.with-borders .counter {
	border-radius: 6px;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	padding: 25px;
}

.counters.counters-sm .fa, .counters.counters-sm .icons {
	font-size: 25px;
	line-height: 25px;
}

.counters.counters-sm strong {
	font-size: 35px;
	line-height: 35px;
}

.counters.counters-sm label {
	font-size: 15px;
	line-height: 15px;
}

.counters.counters-lg .fa {
	font-size: 45px;
	line-height: 45px;
}

.counters.counters-lg strong {
	font-size: 60px;
	line-height: 60px;
}

.counters.counters-lg label {
	font-size: 25px;
	line-height: 25px;
}

.counters.counters-text-light .counter {
	color: #FFF !important;
}

.counters.counters-text-light .counter .fa, .counters.counters-text-light .counter .icons, .counters.counters-text-light .counter strong, .counters.counters-text-light .counter label {
	color: #FFF !important;
}

.counters.counters-text-dark .counter {
	color: #2e353e !important;
}

.counters.counters-text-dark .counter .fa, .counters.counters-text-dark .counter .icons, .counters.counters-text-dark .counter strong, .counters.counters-text-dark .counter label {
	color: #2e353e !important;
}
section.section.section-no-background {
    background: #e7eef6;
    border-top-color: transparent;
}
.os{margin: 0;    padding: 0px 0 40px;    text-align: center;}
.pera{line-height: 25px;}
.page-header {
    background-color: #171717;
    border-bottom: 5px solid #CCC;
    border-top: 5px solid #384045;
    margin: 0  ;
    min-height: 50px;
    padding: 20px 0;
    position: relative;
    text-align: left;
}
.page-header .breadcrumb {
	background: none;
	margin: -3px 0 0;
	padding: 0;
}
section.page-header h1 {
    border-bottom-color: #0088cc;
}
.page-header .breadcrumb > li {
 
}

.page-header .breadcrumb.breadcrumb-valign-mid {
	position: absolute;
	top: 40%;
	right: 20px;
}

.page-header h1 {
	border-bottom: 5px solid #CCC;
	color: #FFF;
	display: inline-block;
	font-weight: 200;
	margin: 0 0 -25px;
	min-height: 37px;
	font-size: 2.6em;
	line-height: 46px;
	padding: 0 0 17px;
	position: relative;
}

.page-header h1 span {
	color: #999da3;
	display: block;
	font-size: 0.6em;
	
	margin: -10px 0 0;
}

.page-header-no-title-border h1 {
	border: 0;
}
.pricing-table {
	margin: 10px 0;
	padding: 0 15px;
	text-align: center;
}

.pricing-table ul {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}

.pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
	color: #777;
}

.pricing-table h3 {
	background-color: #eee;
	border-radius: 2px 2px 0 0;
	font-size: 1.3em;
	font-weight: normal;
	margin: -20px -20px 50px -20px;
	padding: 20px;
}

.pricing-table h3 .desc {
	font-size: 0.7em;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #777;
	font-style: normal;
	text-transform: none;
	display: block;
}

.pricing-table h3 span {
	background: #FFF;
	border: 5px solid #FFF;
	border-radius: 100px;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	color: #777777;
	display: block;font-weight: bold;
	     line-height: 113px;
	height: 125px;
	margin: 20px auto -65px;
	width: 125px;
}

.pricing-table .most-popular {
	border: 3px solid #CCC;
	box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.1), -11px 0 10px -10px rgba(0, 0, 0, 0.1);
	padding: 30px 20px;
	top: -10px;
	z-index: 2;
}

.pricing-table .most-popular h3 {
	background-color: #666;
	color: #FFF;
	padding-top: 30px;
 
}

.pricing-table .most-popular h3 .desc {
	color: #FFF;
}

.pricing-table .plan-ribbon-wrapper {
	height: 88px;
	overflow: hidden;
	position: absolute;
	right: -3px;
	top: -5px;
	width: 85px;
}

.pricing-table .plan-ribbon {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
	background-image: linear-gradient(to bottom, #bfdc7a, #8ebf45);
	background-color: #bfdc7a;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	color: #333;
	font-size: 14px;
	left: -5px;
	padding: 7px 0;
	position: relative;
	text-align: center;
 
	top: 15px;
	width: 120px;
}

.pricing-table .plan-ribbon:before {
	left: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	bottom: -3px;
	content: "";
	position: absolute;
}

.pricing-table .plan-ribbon:after {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	bottom: -3px;
	content: "";
	position: absolute;
	right: 0;
}

.pricing-table [class*="col-md-"] {
	padding-left: 0;
	padding-right: 0;
}

.pricing-table .plan {
	background: #FFF;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #333;
	margin-bottom: 35px;
	margin-right: 0;
	padding: 20px;
	position: relative;
 
}

.pricing-table .btn {
	margin-top: 5px;
}

.pricing-table.pricing-table-sm h3 .desc {
	font-size: 0.7em;
}

.pricing-table.pricing-table-sm h3 span {
	border: 3px solid #FFF;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	
	height: 70px;
	margin: 10px auto -65px;
	width: 70px;
}

.pricing-table.pricing-table-sm .most-popular {
	padding-bottom: 30px;
}

.pricing-table.princig-table-flat .plan {
	padding-left: 0;
	padding-right: 0;
	margin: -1px;
}

.pricing-table.princig-table-flat .plan h3 {
	padding-left: 0;
	padding-right: 0;
	margin: -20px 0 0;
	background-color: #666;
	color: #FFF;
	padding-top: 30px;
 
}

.pricing-table.princig-table-flat .plan h3 .desc {
	color: #FFF;
}

.pricing-table.princig-table-flat .plan h3 span {
	border-radius: 0;
	border: 0;
	background: #666;
	color: #FFF;
	
 
	box-shadow: none;
	width: 100%;
	font-size: 1.5em;
	height: auto;
	line-height: 38px;
	margin: 0;
}

.pricing-table.princig-table-flat .plan ul {
	margin-top: 0;
	margin-bottom: -15px;
}

.pricing-table.princig-table-flat .plan ul li {
	padding: 8px 0;
}

.pricing-table.princig-table-flat .plan.most-popular ul li {
	padding: 10px 0;
}

.pricing-table.spaced [class*="col-md-"] {
	padding-left: 2px;
	padding-right: 2px;
}

.pricing-table.no-borders .plan {
	border: 0 !important;
}
.pricing-table .most-popular h3 {
    background-color: #0088cc !important;
}
html .heading-primary, html .lnk-primary, html .text-color-primary {
    color: #fff !important;
}
.mt-lg {
    margin-top: 20px !important;
}.list.list-icons {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
 .list.list-icons.list-icons-style-3 li {
    padding-top: 5px;
 
}
.list.list-icons.list-icons-style-3 li .fa, .list.list-icons.list-icons-style-3 li .icons {
    color: #FFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px;
}
.list.list-icons.list-icons-style-3 li .fa, .list.list-icons.list-icons-style-3 li .icons {
    background-color: #0088cc;
}.call-to-action.call-to-action-in-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
 
}
.call-to-action.call-to-action-default {
    background: #f2f2f2;
}
.call-to-action {    position: relative;clear: both;min-height: 125px;padding-left: 25px;padding-right: 25px;}
h2.mb-none {color:#fff;margin: 10px 0 40px;}
.feature-box {float: left;width: 100%;    padding: 10px 0;}
 /* Search Banner Start*/
.searchBanner {
	background: url(../images/banner1.jpg) 100%;
	padding: 60px 0;
}
h4.heading-primary.mb-none {
    padding: 5px 0 0;
    font-weight: lighter;
}
.searces {
	width: 100%;
}
.searces ul li {
	width: 50%; /* fallback if needed *//*width: calc(100% - 33em);
	  width: -moz-calc(100% - 33em);
	  width: -webkit-calc(100% - 33em);
	  width: -ms-calc(100% - 33em);
	  width: -o-calc(100% - 33em);*/
}
.searces ul li a {
	border: 0 none !important;
	border-radius: 0;
	color: #8da199;
	font-size: 18px;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
}
.searces ul li.active a, .searces ul li a:focus, .searces ul li:hover a {
	background: #2e3841 !important;
	color: #fff !important;
}
.searces .tab-content input[type="search"] {
	border: 0 none;
	height: 50px;
	padding: 0 43px;
	width: 100%;
}
.searces .tab-content select {
	border: 0 none;
	height: 55px;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../images/select.jpg);
	background-position: right;
	background-repeat: no-repeat;
}
.searces > h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 900;
	margin: 0;
	padding: 0 0 25px;
	text-align: center;
	text-transform: uppercase;
}
.searces > h1 > span {
	color: #f7c51e;
}
.searces .tab-content .search-icon div:nth-child(1) input[type="search"] + span::before {
	width: 33px;
	height: 27px;
	background: url(../images/location-search.png);
	position: absolute;
	content: "";
	left: 26px;
	top: 15px;
	transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
}
.searces .tab-content .search-icon div:nth-child(1) input[type="search"]:hover + span::before, .searces .tab-content .search-icon div:nth-child(1) input[type="search"]:focus + span::before {
	background-position: 30px 0 !important;
	transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
}
.searces .tab-content .search-icon div:nth-child(2) .twitter-typeahead + span::before {
	width: 25px;
	height: 27px;
	background: url(../images/search-search.png);
	position: absolute;
	content: "";
	left: 30px !important;
	top: 15px !important;
	transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
}
.searces .tab-content .search-icon div:nth-child(2) .twitter-typeahead:hover + span::before, .searces .tab-content .search-icon div:nth-child(2) .twitter-typeahead:focus + span::before {
	background-position: 26px 0 !important;
	transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
}
 
.searces ul li.active a::after {
	background: red;
	border-left: 10px solid #edf2f6;
	border-right: 10px solid #edf2f6;
	border-top: 10px solid #2e3841;
	content: "";
	margin-left: -88px;
	position: absolute;
	margin-top: 45px;
}

/* placeholder CSS */
.searces input::-moz-placeholder {
color:#2e3841;
font-size:15px;
}
.searces input::-webkit-input-placeholder {
color:#2e3841;
font-size:15px;
}
.searces input::-ms-input-placeholder {
color:#2e3841;
font-size:15px;
}
.searces input::-o-input-placeholder {
color:#2e3841;
font-size:15px;
}
/* placeholder CSS */

/* Search Banner End*/

.list-job{ background:#f9f9f9}
.right-side-doctors-list {
	clear: both;
	position: relative;
    margin:20px 0;
}
.right-side-doctors-list ul {
	margin: 0;
	padding: 0;
}
.right-side-doctors-list ul li {
	padding: 20px;    height: 190px;
	list-style: none;
	background: #fff;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	 
	box-shadow:0px 0px 16px #dddddd;
    float: left;
    width: 48%;
        margin: 9px;
}
.rounds-btn {
    border-radius: 100%;
    box-shadow: 0 0 15px #ccc;
    color: #f7c51e;
    font-size: 22px;
    height: 50px;
    line-height: 53px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    width: 50px;
}
.rounds-btn a{ color:#f7c51e; }
/*.right-side-doctors-list ul li:nth-last-child(1){margin-bottom:0; }*/
.doctor-img {
	float: inherit;
}
.doctor-img img {
	 background: #2e3841 none repeat scroll 0 0;
    max-width: 100%;
    padding:3px;
  
}
.doctor-img:hover img { background:#f7c51e;}

.doctor-list-con {
	padding: 0 0px 0 20px;
	position: relative;
	display: table-cell;
	width: 100%;
	float: left;
 
}
.doctor-list-con .book-mark {
	color: #f7c51e;
	font-size: 17px;
	font-weight: 600;
	margin: 0;
}
.doctor-list-con h1 {
	color: #2e3841;
	font-size: 17px;
	font-weight: 600;
	margin: 0;
}
.heilet-text {
	text-transform: uppercase;
	float: right;
	color: #f7c51e;
	font-weight: 800;
	font-size: 15px;
}
.heilet-text span {
	color: #495a59;
}
.doctor-list-con > h3 {
	color:#9d9d9d;
	font-size: 14px;
	margin:7px 0;
}
.doctor-list-con > p {
  color: #515151;
    font-size: 14px;margin: 0;
    
}
h3 .heilet-text {
	line-height: 26px;
	margin: 10px 0px 0 0;
	text-align: left;
}
.location-price {
	border-color: #edf2f6;
	border-style: dashed;
	border-width: 1px 0;
	color: #515151;
	
}
.location-price > span {
	padding: 0 100px 0 0;
}
.docto-locatio {
	border-bottom: 0 none;
 
}
.rate {
	color: #f7c51e;
	float: right;
	font-style: italic;
	font-weight: 900;
	padding: 0 !important;
}
.rate span {
	color: #2e3841;
}
.timings {
    color: #9d9d9d;
    font-size: 12px;
}
.sma-imga-light-box {
	border-bottom: 1px dashed #edf2f6;
 	padding: 16px 0;
	 
}
.sma-imga-light-box a img {
	border-radius: 16px;
	height: 66px;
	margin: 0 6px 0 0;
	width: 66px;
	transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
}
.sma-imga-light-box a img:hover {
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-O-filter: grayscale(1);
	-ms-filter: grayscale(1);
	filter: gray;
	filter: grayscale(100%);
	cursor: pointer;
	transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
}
.last-child-more-img {
	background: #d6eede;
	height: 66px;
	width: 66px;
	border-radius: 16px;
	transition: 1s;
	display:inline-block;
}
.last-child-more-img img {
	height: auto !important;
	padding: 25px 12px;
	width: auto !important;
}
.last-child-more-img:hover {
	background: #b1e3c2;
	transition: 1s;
}
.book-now {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7c51e+0,d6a80e+100 */
	background: #f7c51e; /* Old browsers */
/*	background: -moz-linear-gradient(top, #f7c51e 0%, #d6a80e 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top, #f7c51e 0%, #d6a80e 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom, #f7c51e 0%, #d6a80e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c51e', endColorstr='#d6a80e', GradientType=0 ); /* IE6-9 */
 
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
	padding: 6px 12px;
	text-transform: uppercase;
}
.inner-scroll {
    background: #fbfbfb none repeat scroll 0 0;
}
.book-email-phone {
	color: #515151;
	float: right;
	line-height: 43px;
	padding:20px 0 8px;
	width: 100%;
}
.book-now a {
	color: #fff;
}
.book-now:hover, .book-now:focus {
	background: #f7c51e !important;
}
.book-email-phone > span {
	padding: 0 18px 0 0;
}
.left-side {
	background: #fff none repeat scroll 0 0;
	float: left;
    margin:20px 0;
	width: 100%;
    box-shadow: 0px 0px 16px #dddddd;
}
.collapsebtn span.collapsearrow {
	background: #d3d3d3 url(../images/collapsearrow.png) 6px -12px no-repeat;
	float: right;
	height: 20px;
	transition: all 0.3s ease 0s;
	width: 20px;
	border-radius: 100%;
}
.collapsebtn.collapsed span.collapsearrow {
	background: #d3d3d3 url(../images/collapsearrow.png) 6px 7px no-repeat;
	float: right;
	height: 20px;
	transition: all 0.3s ease 0s;
	width: 20px;
	border-radius: 100%;
}
.collapsebtn {
	background: #fff none repeat scroll 0 0;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #f3f3f3;
	font-size: 16px;
	font-weight: bold;
	padding: 12px;
	text-align: left;
	width: 100%;
	color: #253a50;
}
/*left panel search-list*/
.search-list ul {
	margin: 0;
	padding: 0;
}
.search-list ul li {
 	color: #555555;
	float: left;
	font-weight: lighter;
	list-style: outside none none;
	padding: 13px 16px;
	width: 100%;
}
.search-list {
	float: left;
	padding: 10px 0;
	position: relative;
	width: 100%;
}
.search-list ul li img {
	float: left;
	height: 103px;
	margin-right: 12px;
	width: 110px;
}
.search-list li h3 {
	color: #253a50;
	font-size: 18px;
	margin: 0;
	font-weight: lighter;
}
.search-list li small {
	color: #8c8c8c;
	display: table;
	font-size: 13px;
}
.search-list li p {
	color: #253a50;
	margin: 3px 0 0;
}
.search-list select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/selec-searct.jpg) right no-repeat;
	height: 37px;
	border: 1px solid #efefef;
	padding: 0 10px;
	color: ##8e98a1;
	font-size: 14px;
}
.search-list ul li .side-label i {
	color: #ffc000;
	padding: 0 8px 0 0;
}
.search-list ul li .side-label .fa-star-o {
	color: #d3d3d3;
}
.search-list li input {
	height: 42px;
}
.si {
	font-size: 14px !important;
	position: absolute !important;
	right: 15px;
	top: 26px;
}
.search-list ul li article {
	color: #a5a5a5;
	float: right;
	font-size: 16px;
	padding: 0;
}
.view-all {
	color: #8cc183;
	float: left;
	padding: 8px 12px 0;
	font-weight: 600;
}
.agent-view {
	background: #fff none repeat scroll 0 0;
	margin: 3em 0;
}
.agent-view .fave {
	border: 12px solid #f1f3f7;
	height: 338px !important;
	width: 507px !important;
}
.search-list ul li span {
	color: #000;
	font-size: 13px;
	padding: 0 8px;
	position: relative;
}
.search-list ul li .view-all {
	padding: 8px 0 0;
}
.search-list ul li .badge {
	background: #edf2f6;
	border: 0 none;
	border-radius: 100px;
	color: #cbd3d9;
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin: -2px;
	padding: 6px 11px;
}
.search-list ul li:hover span, .search-list ul li:hover a {
	color: #ffc000;
}
.search-list ul li:hover .badge {
	background: #ffc000;
	color: #fff;
}
.any {
	color: #ffc000 !important;
	font-weight: bold !important;
}
.any + .badge {
	background: #b3c0bb !important;
	color: #fff !important
}
/* Check Box START*/
.checkbox-custom {
	opacity: 0;
	position: absolute;
}
.checkbox-custom, .checkbox-custom-label {
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	cursor: pointer;
    width:100%;
	
}
.checkbox-custom-label {
	position: relative;
}
.checkbox-custom + .checkbox-custom-label:before {
	content: '';
	background: #edf2f6;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 0px;
	text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
	content: "\f00c";
	font-family: 'FontAwesome';
	background: #ffc000;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
}
/* Check Box END*/


input[type="checkbox"], input[type="radio"] {
	line-height: normal;
	margin: 4px 0 0;
	width: auto;
}
/* Radio Buttons */

/*Radios*/
input[type="checkbox"], input[type="radio"] {
	position: absolute;
	left: -9999px;
}
.side-label {
	cursor: pointer;
	display: block;
	float: left;
	font-weight: lighter;
	line-height: 19px;
	margin: 0;
	padding-left: 30px;
	position: relative;
}
.side-label::before, .side-label::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
}
input[type="radio"] + .side-label::before, input[type="radio"] + .side-label::after {
	border-radius: 50%;
}
.side-label::before {
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #d1d3d7;
}
input:focus + .side-label::before {
	border-color: #ffc000;
}
.side-label::after {
	display: none;
	width: 12px;
	height: 12px;
	margin: 4px;
	background-color: #ffc000;
}
input:checked + .side-label::after {
	display: block;
}
.how-other-disclosure {
	display: none;
	margin: 10px 0 0 35px;
}
#how-other:checked ~ .how-other-disclosure {
	display: block;
}
.blocked {	margin-top: 40px;	color: rgba(255, 255, 255, .3);	text-align: center;}
#permitted:checked ~ .blocked {	display: none;}
#permitted:checked ~ button {	display: block;}
/*Slider Week Range*/
.slder-week {	padding: 30px 19px;	width: 100%;}
/*Slider Week Range*/
/*left panel search-list*/
input[type="text"], input[type="password"], select, input[type="email"], input[type="tel"] {
border: 1px solid #ececec;   box-shadow: 0 3px 4px #ededed inset;color: #000;float: left;font-size: 13px;height: 50px;
padding: 10px;width: 100%;-moz-user-select: none;-webkit-user-select: none;}
.skills span {background: #f7f7f7;padding: 10px;   margin: 0 5px 4px 0px; float:left;}
.doctor-list-con .btn{margin:10px 5px}
.footer ul {    margin: 0 auto;    padding: 12px 0 0;    display: table;}
.searchbar{ background:rgba(250,250,250,0.5); border-radius: 100px; }
.searchinput{height: 56px !important;max-width: 709px; border-radius:100px 0 0 100px;  line-height:none; width: 100% !important; padding-left: 20px !important;}
.searchbtn{width:140px;height: 56px  ;padding: 15px;background: #0089cb; color:#ffffff;font-size: 20px;border:0; float:left; border-radius:0px 100px 100px 0px;}
 .sea { padding:10px; margin:0;}
.styled-select {
    width: 24%;
    height: 46px;
   padding:0 !important;list-style-type: none !important;
    background: url(../images/drop.png) no-repeat right #fff;
    
}
.sea li {
list-style:none;
    
}
 .herotitle {
    font-size: 46px;
    color: #fff;
    font-weight: bold;
    margin:0px 0 6px;
}
 .banner p{ text-align:center; color:#fff;}
 .cmp-overview {
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
bottom: 86px;
left:-39px;
  
}
 .cmp-overview .cmp-icon {
    width: 55px;
    height: auto;
    float: left;
    position: relative;
}
 .cmp-overview .cmp-icon .cmp-i {
    font-size: 55px;
}
 .cmp-overview .cmp-icon span.fa {
    background: #ff7c39;
}
  .cmp-overview i{font-size:55px;}
.cmp-overview .cmp-icon span.fa {
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 22px;
    height: 22px;
    background: #ff7c39;
    border-radius: 50%;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
}
.cmp-detail {
    margin-left: 20px;
    display: inline-block;
    text-align: left;
}
.cmp-detail h3 {
    margin-bottom: 0;
    color: #fff;
    font-size: 25px;
}
.cmp-detail span {
    font-size: 13px;
    opacity: .8;
    float: left;
}
.vison-mins {
    background: #fff;
    padding: 0;clear: both;
    min-height: 420px;
}
.vison-mins .vm {
    background: url(../images/vision-mission.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    padding: 0;
    content: "";
    left: 0;
    min-height: 420px;
}
.pjo{background:url(../images/post-job.jpg) no-repeat !important}
.fwr{background:url(../images/works-your.jpg) no-repeat !important; min-height: 420px !important;}
.vison-mins .col-lg-offset-6 {
    padding: 0 0 0 20px;
}
.product-wrap h5 {
    color: #131212;
    font-size: 32px;
        padding-top:20px;
}
.product-wrap p  {
    line-height: 31px;
    font-weight: normal;
    color: #424242;
    margin: 0 0 10px;
    font-size: 15px;
}
.vison-mins p + h5 {
    padding-top: 20px;
}
.searchBtn {
    width: 100%;
    border: 0;
    height: 50px; background:#0089cb
}
.flex-wrap {
    border-bottom: 1px solid #edf1f5;
    display: flex;
 
    vertical-align: middle;
    -webkit-align-content: center;
    -webkit-box-orient: horizontal;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3px 0 10px;
    margin-bottom: 9px;
}
.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}