

@{
    ViewBag.Title = "jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 

<section class="searchBanner inner-search">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="searces">
                    <div class="tab-content clearfix">
                        <input type="hidden" id="hiddensearch" value="@ViewBag.Search" />
                        <div role="tabpanel" class="search-icon row" id="profile">
                            <div class="col-lg-5">
                                <input type="search" id="textskills" placeholder="All Professionals">
                                <span> </span>
                            </div>
                            <div class="col-lg-5 example" id="the-basics">

                                <input type="text" id="textlocation" class="searchinpu typeahead" dir="auto" spellcheck="false" autocomplete="off" placeholder="Location">

                                <span> </span>
                            </div>

                            <div class="col-lg-2">
                                <button type="button" class="searchBtn"> <img src="/images/flight.png" alt="" title="" onclick="searchJobs()"> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="list-job">
    <div class="container-fluid">
        <div class="row" >
                    <div class="col-lg-4 pr pl">
                        <ul class="list-group joli" id="uljobs">
                            @*<li><i class="fa fa-suitcase"></i> Cras justo odio</li>
                    <li><i class="fa fa-suitcase"></i> Dapibus ac facilisis in</li>
                    <li><i class="fa fa-suitcase"></i> Morbi leo risus</li>
                    <li><i class="fa fa-suitcase"></i> Porta ac consectetur ac</li>
                    <li><i class="fa fa-suitcase"></i> Vestibulum at eros</li>
                    <li><i class="fa fa-suitcase"></i> Cras justo odio</li>
                    <li><i class="fa fa-suitcase"></i> Dapibus ac facilisis in</li>
                    <li><i class="fa fa-suitcase"></i> Morbi leo risus</li>
                    <li><i class="fa fa-suitcase"></i> Porta ac consectetur ac</li>
                    <li><i class="fa fa-suitcase"></i> Vestibulum at eros</li>
                    <li><i class="fa fa-suitcase"></i> Cras justo odio</li>
                    <li><i class="fa fa-suitcase"></i> Dapibus ac facilisis in</li>
                    <li><i class="fa fa-suitcase"></i> Morbi leo risus</li>
                    <li><i class="fa fa-suitcase"></i> Porta ac consectetur ac</li>
                    <li><i class="fa fa-suitcase"></i> Vestibulum at eros</li>*@
                        </ul>
                    </div>
                    <div id="divjobview" class="col-lg-6 pr pl">
                            <div class="panel mijView" id="divjobpanel">
                                <input type="hidden" id="hiddenjobid" />
                                <div class="panel-body">
                                    <div class="jobits">
                                        <figure>
                                            <img id="imgjoblogo" src="~/images/img-3.jpg" />
                                            <figcaption>
                                                <h2 id="jobtitle">Software Quality Engineer 2</h2>
                                                <p id="companyname">Dell International Services India Private Limited4.1(1353 Reviews)</p>
                                            </figcaption>
                                        </figure>
                                        <ul class="clearfix">
                                            <li id="experience"> <i class="fa fa-suitcase"></i> 2 - 5 years</li>
                                            <li id="package"> <i class="fa fa-money"></i> 7 Lac</li>
                                            <li id="location"> <i class="fa fa-map-marker"></i> Warangal</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="jobDesi">
                                        <h3> Job description </h3>
                                        <p id="jobdescription"> </p>
                                    </div>

                                </div>
                            </div>
                    </div>
                    <div class="col-lg-2 pl pr">
                        <ul class="list-group joli jbtns" id="divjobbuttons">
                            <li onclick="openapplyjobmodal()"> <div class="btn btn-default nmb"> <i class="fa fa-paper-plane-o"></i> Apply </div> </li>
                            <li onclick="shareonfacebook()"> <div class="btn sfb comb"> Share on   <i class="fa fa-facebook" aria-hidden="true"></i></div> </li>
                            <li onclick="shareontwitter()"> <div class="btn twit comb"> Share on   <i class="fa fa-twitter" aria-hidden="true"></i></div></li>
                            <li onclick="shareonlinkedin()"> <div class="btn lkn comb"> Share on   <i class="fa fa-linkedin" aria-hidden="true"></i></div></li>
                        </ul>
                    </div>
               
          
        </div>
        @*<div class="row">*@
            @*<div class="col-lg-3 col-xs-12">
                <div class="left-side">*@

            @*<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse2">
                    Search Company <span class="collapsearrow"></span>
                </button>

                <div id="collapse2" class="collapse in ">
                    <div class="search-list">
                        <ul>
                            <li> <input type="text" placeholder="Search by Keyword"> <span class="si"> <i class="fa fa-search"></i> </span> </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
            <!-- Star ratings -->
            @*<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse1">
                    Package <span class="collapsearrow"></span>
                </button>*@

            @*<div id="collapse1" class="collapse in ">
                    <div class="search-list">
                        <ul>
                            <li>
                                <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                                <label for="checkbox-1" class="checkbox-custom-label searchCheck blueCheckbox"><span>Less than Rs. 1,000 <article> (28) </article></span></label>
                            </li>
                            <li>
                                <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
                                <label for="checkbox-2" class="checkbox-custom-label searchCheck blueCheckbox"><span>Rs. 1,000 to Rs. 2,000 <article>(182) </article></span></label>
                            </li>
                            <li>
                                <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
                                <label for="checkbox-3" class="checkbox-custom-label searchCheck blueCheckbox"><span>Rs. 2,000 to Rs. 4,000 <article>(320)</article> </span></label>
                            </li>
                            <li>
                                <input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox">
                                <label for="checkbox-4" class="checkbox-custom-label searchCheck blueCheckbox"><span>Rs. 4,000 to Rs. 7,000 <article>(442)</article></span></label>
                            </li>
                            <li>
                                <input id="checkbox-5" class="checkbox-custom" name="checkbox-5" type="checkbox">
                                <label for="checkbox-5" class="checkbox-custom-label searchCheck blueCheckbox"><span>Rs. 7,000 to Rs. 10,000<article> (61)</article> </span></label>
                            </li>
                            <li>
                                <input id="checkbox-6" class="checkbox-custom" name="checkbox-6" type="checkbox">
                                <label for="checkbox-6" class="checkbox-custom-label searchCheck blueCheckbox"><span>Greater than Rs. 10,000 <article>(89) </article></span></label>
                            </li>

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
            <!-- End of Star ratings -->
            <!-- Hotel Preferences -->
            @*</div>

                </div>*@
            @*<div class="col-lg-12 col-md-12 col-xs-12">
                <div class="right-side-doctors-list clearfix">
                    <ul id="uljobs" class="flex-wrap">*@



                        @*<li>
                                <div class="doctor-img clearfix"> <img src="/images/logo-sample.png" alt="" title="" width="270" height="259"></div>
                                <div class="doctor-list-con">
                                    <h1> Ui/ux Designer and Developers                                     </h1>
                                    <h3>Business arts India Pvt. Ltd</h3>
                                    <p>CSS, HTML, Javascript, User Interface Designing, UX, MVC, Illustrator... </p>
                                    <div class="location-price docto-locatio"><i class="fa fa-map-marker"></i> Hyderabad, Warangal</div>
                                    <div class="location-price">
                                        <span><i class="fa fa-suitcase"></i> 3 to 5 yrs</span> <span> <i class="fa fa-money"></i> INR 50,000 - 3,00,000 P.A </span>
                                    </div>

                                </div>
                            </li>*@

                    @*</ul>
                </div>
            </div>*@
        @*</div>*@

    </div>
    <div class="modal fade" id="modalapplyjob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:999999;">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apply Job </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closemodalapplyjob">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First name <span class="mandatory">*</span></label>
                                <input class="form-control" placeholder="" id="textfirstname" name="firstname" type="text" onblur="validatetextbox(this)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last name </label>
                                <input class="form-control" placeholder="" id="textlastname" name="lastname" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>EmailId <span class="mandatory">*</span></label>
                                <input class="form-control" placeholder="" id="textemailid" name="emailid" type="text" onblur="validateemailid(this)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact number <span class="mandatory">*</span></label>
                                <input class="form-control" placeholder="" id="textcontact" maxlength="10" name="contact" type="text" onblur="validatephonenumber(this)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Resume <span class="mandatory">*</span></label>
                                <input type="hidden" id="hiddenresumefile" value="" />
                                <input type="file" id="fileresume" onchange="uploadresume()" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="applyjob()">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jobs")

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/application/index.js"></script>
<script>
    $('.topmenu').find('li').removeClass("active");
    $('#ajobs').addClass("active")
</script>
<script>
    $(function () {
        var search = $("#hiddensearch").val();
        search = Base64.decode(search);
        $("#textskills").val(search);

        getLocations();
    });
</script>