<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recruiter Ville - Login</title>
    @Styles.Render("~/content/login")

    
</head>
<body class="log-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="divalertinfo" class="alert bg-info" role="alert" style="display:none;"><em class="fa fa-lg fa-info-circle">&nbsp;</em> <span id="spanalertinfo">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divlogin">
               
                    <div class="panel-body">
                        <h4>Log in </h4>
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="EmailId" id="textemailid" name="email" type="text" onblur="validateemailid(this)">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" id="textpassword" name="password" type="password" onblur="validatetextbox(this)">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" id="checkremember" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <a href="javascript:void(0)" class="btn btn-primary" onclick="UserLogin()">Login</a>
                                <h5><a href="javascript:void(0)" onclick="OpenForgotPassword()">Forgot your password?</a></h5>
                                <p>Don't you have an account ?? <a href="/register">Sign up</a></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divforgotpwd" style="display:none;">
                 
                    <div class="panel-body">
                        <h4>Forgot Password</h4>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Registered EmailId" id="textforgotemailid" name="email" type="text" onblur="validateemailid(this)">
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="ForgotPassword()">Submit</a>
                            <p><a href="javascript:void(0)" onclick="OpenLogin()">Remember your password!</a></p>
                        </fieldset>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divresetpassword" style="display:none;">
                 
                    <div class="panel-body">
                        <h4>Reset Password</h4>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Verification code" maxlength="6" name="verificationcode" type="password" id="textverificationcode" onblur="validateverificationcode(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password (mandatory)" maxlength="16" name="password" type="password" id="textforgotnewpassword" onblur="validatepassword(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password (mandatory)" maxlength="16" name="confirmpassword" type="password" id="textforgotconfirmpassword" onblur="validateconfirmpassword(this)">
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="UpdateForgotPassword()">Reset Password</a>
                        </fieldset>
                    </div>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->
    </div>
    @Scripts.Render("~/bundles/login")
</body>
</html>
