<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RecruitersVille - Login</title>
    <link rel="shortcut icon" href="/images/fevicon.png" sizes="16x16" type="text/png">
    @Styles.Render("~/content/login")


</head>
<body class="log-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="divalertinfo" class="alert bg-info" role="alert" style="display:none;"><em class="fa fa-lg fa-info-circle">&nbsp;</em> <span id="spanalertinfo">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divlogin">

                    <div class="panel-body">
                        <h4>Log in </h4>
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" value="@ViewBag.EmailId" placeholder="EmailId" id="textemailid" name="email" type="text" onblur="validateemailid(this)">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" value="@ViewBag.Password" placeholder="Password" id="textpassword" name="password" type="password" onblur="validatetextbox(this)">
                                </div>
                                @if (ViewBag.EmailId != "" && ViewBag.Password != "")
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" checked="checked" type="checkbox" id="checkremember" value="Remember Me">Remember Me
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" id="checkremember" value="Remember Me">Remember Me
                                        </label>
                                    </div>
                                }
                                <a href="javascript:void(0)" id="btnlogin" class="btn btn-primary" onclick="UserLogin()">Login</a>
                                <h5><a href="javascript:void(0)" onclick="OpenForgotPassword()">Forgot your password?</a></h5>
                                <p>Don't you have an account ?? <a href="/register">Sign up</a></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divforgotpwd" style="display:none;">

                    <div class="panel-body">
                        <h4>Forgot Password</h4>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Registered EmailId" id="textforgotemailid" name="email" type="text" onblur="validateemailid(this)">
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="ForgotPassword()">Submit</a>
                            <h5><a href="javascript:void(0)" onclick="OpenLogin()">Remember your password!</a></h5>
                        </fieldset>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divresetpassword" style="display:none;">

                    <div class="panel-body">
                        <h4>Reset Password</h4>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Verification code" maxlength="6" name="verificationcode" type="password" id="textverificationcode" onblur="validateverificationcode(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password (mandatory)" maxlength="16" name="password" type="password" id="textforgotnewpassword" onblur="validatepassword(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password (mandatory)" maxlength="16" name="confirmpassword" type="password" id="textforgotconfirmpassword" onblur="validateconfirmpassword(this)">
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="UpdateForgotPassword()">Reset Password</a>
                            <h5><a href="javascript:void(0)" onclick="OpenLogin()">Back to Login</a></h5>
                            <p>Didn't receive code?? <a href="javascript:void(0)" onclick="ResendVerificationCode()">Resend Verification Code</a></p>
                        </fieldset>
                    </div>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->
    </div>
    @Scripts.Render("~/bundles/login")
    <script type="text/javascript">
        (function ($) {
            var textemailid = document.getElementById("textemailid");
            var textpassword = document.getElementById("textpassword");

            textemailid.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("btnlogin").click();
                }
            });
            textpassword.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("btnlogin").click();
                }
            });
        })(jQuery);
    </script>
</body>
</html>
