<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recruiter Ville - Packages</title>
    <link rel="shortcut icon" type="image/png" href="images/ .ico" />
    <!-- bootstrap  CSS -->
    <!-- Font Asewome Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

    @Styles.Render("~/content/packages")
</head>
<body>
    <!-- #Fixed top bar >>social icons & Login Register  navbar-fixed-top-->
    <nav class="navbar navbar-inverse menutop">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#"> </a>
            </div>
            <div class="" id="myNavbar">
                <ul class="nav navbar-nav navbar-right login-bar">
                    <li><a href="#"><i class="fa fa-facebook s-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin s-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter s-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p s-icon"></i></a></li>
                    <li class="left-devider"><a href="register.html" class="account-btn"><span class="hidemob">Register</span> <i class="fa fa-user-plus s-icon2"></i></a></li>
                    <li class="left-devider"><a href="login.html" class="account-btn"><span class="hidemob">Login</span> <i class="fa fa-sign-out s-icon2"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Ends  Fixed top bar -->
    <!-- >>Navigation navbar-fixed-top-->
    <nav class="navbar navbar-default  menu-nav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo -->
                <a href="index.html"><img src="images/logo.png" class="logo" alt="logo"></a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/index.html"> Home</a></li>
                    <li><a href="expertise.html"> About Us    </a></li>
                    <li><a href="/packages"> Price</a></li>
                    <li><a href="careers.html"> Careers</a></li>
                    <li><a href="contact.html"> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Ends Navigation  -->
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/index.html">Home</a></li>
                        <li class="active">Pricing</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Pricing Tables</h1>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-none"><strong>Pricing</strong> Table  </h2>
                <p>You can configure your pricing table using the grid system in order to make it <span class="alternative-font">responsive</span> for small devices.</p>

                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="pricing-table" id="divpackages">
               
            </div>

        </div>

    </div>




    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">   <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-linkedin"></i> <i class="fa fa-google-plus"></i> <i class="fa fa-pinterest"></i></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2>Subscribe<p>Newsletter</p></h2>

                    <form>
                        <input placeholder="Email Address" type="email">
                        <button><img title="" alt="" src="images/mail-footer.png"> </button>
                    </form>
                </div>
                <div class="col-lg-12"><hr></div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>About</h3>
                    <ul>
                        <li><a href="about-us.html"><i class="fa fa-angle-double-right"></i>  Vision</a></li>
                        <li><a href="about-us.html"><i class="fa fa-angle-double-right"></i> Mission</a></li>
                        <li><a href="about-us.html"><i class="fa fa-angle-double-right"></i>  Clients</a></li>
                        <li><a href="contact.html"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Product</h3>
                    <ul>
                        <li><a href="product.html"><i class="fa fa-angle-double-right"></i>  WG- Water gold</a></li>
                        <li><a href="product.html"><i class="fa fa-angle-double-right"></i>  Rebate Instant</a></li>
                        <li><a href="product.html"><i class="fa fa-angle-double-right"></i>   CRM </a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>  Services</h3>
                    <ul>
                        <li><a href="services.html"><i class="fa fa-angle-double-right"></i> Utility services</a></li>
                        <li><a href="services.html"><i class="fa fa-angle-double-right"></i>  Business services </a></li>
                        <li><a href="services.html"><i class="fa fa-angle-double-right"></i>  IT Staff Augmentation</a></li>
                        <li><a href="services.html"><i class="fa fa-angle-double-right"></i>  Outsourcing </a></li>
                        <li><a href="services.html"><i class="fa fa-angle-double-right"></i>    Quality Assurance  </a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Subjects</h3>
                    <ul>
                        <li><a href="expertise.html"><i class="fa fa-angle-double-right"></i>  Expertise    </a></li>
                        <li><a href="csr.html"><i class="fa fa-angle-double-right"></i> CSR</a></li>
                        <li><a href="careers.html"><i class="fa fa-angle-double-right"></i>   Careers</a></li>

                    </ul>

                </div> <div class="col-lg-12"><hr></div>
                <section class="bottomFooter">
                    <div class="col-lg-12 text-center">Copyright &copy; 2019    ,  <a href="#">All right reserved Inc. </a> </div>
                </section>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/packages")

</body>
</html>
