
@{
    ViewBag.Title = "packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- #Ends Navigation  -->
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/index.html">Home</a></li>
                        <li class="active">Pricing</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Pricing Tables</h1>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-none"><strong>Pricing</strong> Table  </h2>
                <p>You can configure your pricing table using the grid system in order to make it <span class="alternative-font">responsive</span> for small devices.</p>

                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="pricing-table" id="divpackages">
               
            </div>

        </div>

    </div>


    @Scripts.Render("~/bundles/packages")
<script>
    $('.topmenu').find('li').removeClass("active");
    $('#apackages').addClass("active")
</script>