<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recruiter Ville - Signup</title>
    @Styles.Render("~/content/register")
</head>
<body class="log-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="divalertinfo" class="alert bg-info" role="alert" style="display:none;"><em class="fa fa-lg fa-info-circle">&nbsp;</em> <span id="spanalertinfo">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                        <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divregistration">
                    <div class="panel-body">
                        <h4>Signup</h4>
                        <input type="hidden" id="hiddenpackagename" value="@ViewBag.Packagename" />

                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Full Name (mandatory)" max="50" name="name" type="text" id="textfullname" onblur="validatetextbox(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Company Name (mandatory)" maxlength="50" name="companyname" type="text" id="textcompanyname" onblur="validatetextbox(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="EmailId (mandatory)" maxlength="50" name="email" type="text" id="textemailid" onblur="validateemailid(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contact Number (mandatory)" maxlength="10" name="contact" type="text" id="textcontactnumber" onblur="validatephonenumber(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password (mandatory)" maxlength="16" name="password" type="password" id="textpassword" onblur="validatepassword(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password (mandatory)" maxlength="16" name="confirmpassword" type="password" id="textconfirmpassword" onblur="validateconfirmpassword(this)">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="About Me (optional)" maxlength="10" rows="4" name="aboutme" id="textaboutme"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" id="checktermsconditions" maxlength="500" value="Agree for Terms & Conditions"> I agree for Terms & Conditions
                                </label>
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-primary" onclick="Register()">Sign up</a>
                                </div>
                                <p>Already have an account ! <a href="/login">Sign in</a></p>
</fieldset>
                    </div>
                </div>
                <div class="login-panel panel panel-default login" id="divverification" style="display:none;">
                  
                    <div class="panel-body">
                        <h4>Verification</h4>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Verification code" maxlength="6" name="verificationcode" type="password" id="textverificationcode" onblur="validateverificationcode(this)">
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="VerifyAccount()">Verify EmailId</a>
                        </fieldset>
                    </div>
                </div>
            </div><!-- /.col-->
        </div></div><!-- /.row -->
        @Scripts.Render("~/bundles/register")
</body>
</html>
