
@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@Styles.Render("~/content/jobtemplates")
<link href="/app/css/bootstrap-table.css" rel="stylesheet" />

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0)">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Job Templates</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
        <input type="hidden" id="hiddencompanyid" value="@ViewBag.CompanyId" />
    </div>
</div><!--/.row-->

<div class="panel">
    <div class="row">
        <div class="col-lg-12">
            <div id="divalertinfo" class="alert bg-info" role="alert" style="display:none;"><em class="fa fa-lg fa-info-circle">&nbsp;</em> <span id="spanalertinfo">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Job Templates <a href="/job/newtemplate" class="btn btn-primary pull-right" >Add New Job Template</a></div>
                <input type="hidden" id="hiddenselectedjobtemplateid" value="" />
                <div class="panel-body">
                    <table class="new-tble scrol-tble">
                        <thead>
                            <tr>
                                <th>
                                    S.No.
                                </th>
                                <th>
                                    Template Name
                                </th>
                                <th>
                                    Job Title
                                </th>
                                <th>
                                    Pay
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th>
                                    Experience
                                </th>
                                <th>
                                    Industry
                                </th>
                                <th>
                                    Technologies
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbodyjobs">
                            <tr>
                                <td colspan="9">
                                    No job templates found.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!--/.panel-->
    </div>
</div><!--/.row-->
<div class="modal fade" id="modaldeletejobtemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Job Template </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closemodaldeletejobtemplate">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Comments <span class="mandatory">*</span></label>
                            <textarea rows="4" class="form-control" placeholder="" id="textcomments" onblur="validatetextbox(this)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="deleteconfirm()">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@Scripts.Render("~/bundles/jobtemplates")
<script type="text/javascript">
    $(document).ready(function () {
        $("#ulsidemenu li").removeClass("active");
        $("#limenujobtemplates").addClass("active");
        getjobtemplateslist();
    });
</script>
