
@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@Styles.Render("~/content/myjobs")
<link href="/app/css/bootstrap-table.css" rel="stylesheet" />

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0)">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Jobs</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
        <input type="hidden" id="hiddencompanyid" value="@ViewBag.CompanyId" />
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="jobvu">
            <div class="col-lg-4 pr pl">
                <ul class="list-group joli">
                    <li><i class="fa fa-suitcase"></i> Cras justo odio</li>
                    <li><i class="fa fa-suitcase"></i> Dapibus ac facilisis in</li>
                    <li><i class="fa fa-suitcase"></i> Morbi leo risus</li>
                    <li><i class="fa fa-suitcase"></i> Porta ac consectetur ac</li>
                    <li><i class="fa fa-suitcase"></i> Vestibulum at eros</li>
                    <li><i class="fa fa-suitcase"></i> Cras justo odio</li>
                    <li><i class="fa fa-suitcase"></i> Dapibus ac facilisis in</li>
                    <li><i class="fa fa-suitcase"></i> Morbi leo risus</li>
                    <li><i class="fa fa-suitcase"></i> Porta ac consectetur ac</li>
                    <li><i class="fa fa-suitcase"></i> Vestibulum at eros</li>
                    <li><i class="fa fa-suitcase"></i> Cras justo odio</li>
                    <li><i class="fa fa-suitcase"></i> Dapibus ac facilisis in</li>
                    <li><i class="fa fa-suitcase"></i> Morbi leo risus</li>
                    <li><i class="fa fa-suitcase"></i> Porta ac consectetur ac</li>
                    <li><i class="fa fa-suitcase"></i> Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-lg-6 pl pr">
                <div class="panel">
                    <div class="panel-body">
                        <div class="jobits">
                            <figure>
                                <img src="~/images/img-3.jpg" />
                                <figcaption>
                                    <h2>Software Quality Engineer 2</h2>
                                    <p>Dell International Services India Private Limited4.1(1353 Reviews)</p>
                                </figcaption>
                            </figure>
                            <ul class="clearfix">
                                <li> <i class="fa fa-suitcase"></i> 2 - 5 years</li>
                                <li> <i class="fa fa-money"></i> 7 Lac</li>
                                <li> <i class="fa fa-map-marker"></i> Warangal</li>
                            </ul>
                        </div>

                        <div class="jobDesi">
                            <h3> Job description </h3>
                            <h6> Software Quality Engineer 2 </h6>
                            <p>
                                Dell provides the technology that transforms the way we all work and live. But we are more than a technology company - we are a people company.
                                We inspire, challenge and respect every one of our over 100,000 employees. We also provide them with unparalleled growth and development opportunities.
                                We can't wait for you to discover this for yourself as a Software Quality Engineer 2 on our Engineering Development QA team team in Bangalore.
                            </p>
                            <p>
                                Dell provides the technology that transforms the way we all work and live. But we are more than a technology company - we are a people company.
                                We inspire, challenge and respect every one of our over 100,000 employees. We also provide them with unparalleled growth and development opportunities.
                                We can't wait for you to discover this for yourself as a Software Quality Engineer 2 on our Engineering Development QA team team in Bangalore.
                            </p>

                            <ul>
                                <h6>Good knowledge on Storage domain</h6>
                                <li> Good knowledge on Storage domain, products and protocols</li>
                                <li> Hands-on experience on different Drive types, RAID configurations and performance test and Storage Drive tests/qualifications.</li>
                                <li> Knowledge on test automation, scripting languages, Python, Selenium and Java</li>
                                <li> Exposure to performance test and methodologies</li>
                                <li> Ability to perform test case planning, test setup creation and execute tests on product firmware or applications</li>
                                <li> Excellent verbal and written communication in English </li>
                                <li> Ability to learn on new products and ramp-up quickly to contribute for product tests</li>
                                <li> Knowledge on quality engineering processes and tools, Storage product test tools like IO Meter, FC/iSCSI configurations, Windows/Linux host configurations, Storage Drive and RAID level configurations</li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-2 pl pr">
                <ul class="list-group joli jbtns">
                    <li> <div class="btn btn-default nmb"> <i class="fa fa-paper-plane-o"></i> Applu Button </div> </li>
                    <li> <div class="btn sfb nmb"><i class="fa fa-facebook"></i> Share On FB</div> </li>
                    <li> <div class="btn nmb twit"><i class="fa fa-twitter"></i> Share On Twitter</div></li>
                    <li> <div class="btn nmb lkn"><i class="fa fa-linkedin"></i> Share On Linked In</div></li>
                </ul>
            </div>
        </div>
    </div>
</div>
 


<div class="panel">
    <div class="row">
        <div class="col-lg-12">
            <div id="divalertinfo" class="alert bg-info" role="alert" style="display:none;"><em class="fa fa-lg fa-info-circle">&nbsp;</em> <span id="spanalertinfo">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Jobs <a href="/job/newjob" class="btn btn-primary pull-right">Add New Job</a></div>
                <input type="hidden" id="hiddenselectedjobid" value="" />
                <div class="panel-body">
                    <table class="new-tble scrol-tble">
                        <thead>
                            <tr>
                                <th>
                                    S.No.
                                </th>
                                <th>
                                    Job Title
                                </th>
                                <th>
                                    Company Job Id
                                </th>
                                <th>
                                    Pay
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th>
                                    Experience
                                </th>
                                <th>
                                    Industry
                                </th>
                                <th>
                                    Technologies
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbodyjobs">
                            <tr>
                                <td colspan="10">
                                    No jobs found.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!--/.panel-->
    </div>
</div><!--/.row-->
<div class="modal fade" id="modalchangestatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Job Status </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closemodalchangestatus">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Job Status <span class="mandatory">*</span></label>
                            <select class="form-control" id="selectjobstatus" onblur="validatedropdown(this)">
                                <option value="0">Select Job Status</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Comments <span class="mandatory">*</span></label>
                            <textarea rows="4" class="form-control" placeholder="" id="textstatuscomments" onblur="validatetextbox(this)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="changejobstatusconfirm()">Update Status</button>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
@Scripts.Render("~/bundles/myjobs")
<script type="text/javascript">
    $(document).ready(function () {
        getjobslist();
    });
</script>
