
@{
    ViewBag.Title = "viewjob";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<link href="/app/css/bootstrap-table.css" rel="stylesheet" />
<link href="/app/css/datepicker.css" rel="stylesheet" />

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0)">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li>
            <a id="amyjobslist" href="/job/myjobs">
                My Jobs
            </a>
        </li>
        <li class="active">View Job</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Job View <a href="/job/myjobs" class="btn btn-primary pull-right ji">
                    Jobs List <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" onclick="shareonfacebook()" class="btn btn-success pull-right fb">
                    Share on   <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" onclick="shareontwitter()" class="btn btn-danger pull-right tw">
                    Share on   <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" onclick="shareonlinkedin()" class="btn btn-info pull-right lin">
                    Share on   <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>

            <input type="hidden" id="hiddenselectedjobid" value="@ViewBag.JobId" />
            <div class="panel-body">
                <table class="new-tble "> @*scrol-tble*@
                    <tbody>
                        <tr>
                            <td width="20%">Job Title</td>
                            <td width="80%" colspan="3"> <label id="labeljobtitle"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Company Job Id</td>
                            <td width="30%"> <label id="labelcompanyjobid"></label></td>
                       
                            <td width="20%">Job Location</td>
                            <td width="30%"> <label id="labeljoblocation"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Pay</td>
                            <td width="30%"> <label id="labelpay"></label></td>
                        
                            <td width="20%">Duration</td>
                            <td width="30%"> <label id="labelduration"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Experience</td>
                            <td width="80%" colspan="3"> <label id="labelexperience"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Sub Industries</td>
                            <td width="30%"> <label id="labelsubindustries"></label></td>

                            <td width="20%">Industry</td>
                            <td width="30%"> <label id="labelindustry"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Job Types</td>
                            <td width="30%"> <label id="labeljobtypes"></label></td>
                        
                            <td width="20%">Skills</td>
                            <td width="30%"> <label id="labelskills"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Travel Allowances</td>
                            <td width="30%"> <label id="labeltravelallowances"></label></td>
                        
                            <td width="20%">Is WFH Available</td>
                            <td width="30%"> <label id="labelwfhavailable"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Application Method </td>
                            <td width="30%"> <label id="labelapplicationmethod"></label></td>
                       
                            <td width="20%">Post Dates</td>
                            <td width="30%"> <label id="labelpostdates"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Job Status</td>
                            <td width="80%" colspan="3"> <label id="labeljobstatus"></label></td>
                        </tr>

                        <tr>

                            <td width="100%" colspan="4"><h6>Desiription</h6> <div id="labeljobdescription"></div></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="panel-heading">
                Job Applications 
            </div>
            <div class="panel-body">
                <table class="new-tble scrol-tble">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Actions</th>
                            <th>Name</th>
                            <th>EmailId</th>
                            <th>Contact Number</th>
                            <th>Resume</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyapplications">
                        
                    </tbody>
                </table>

            </div>
        </div>

    </div><!--/.panel-->
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/app/js/bootstrap-datepicker.js"></script>
@Scripts.Render("~/bundles/viewjob")
<script type="text/javascript">
    $(document).ready(function () {
        $("#ulsidemenu li").removeClass("active");
        $("#limenujobs").addClass("active");
        getjobdetails();
    });
</script>
