
@{
    ViewBag.Title = "viewjobtemplate";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@Styles.Render("~/content/jobtemplateview")
<link href="/app/css/bootstrap-table.css" rel="stylesheet" />
<link href="/app/css/datepicker.css" rel="stylesheet" />

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0)">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li>
            <a id="amyjobslist" href="/job/jobtemplates">
                My Job Templates
            </a>
        </li>
        <li class="active">View Job Template</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">
                Job Template View <a href="/job/jobtemplates" class="btn btn-primary pull-right">Job Templates List</a>
            </div>

            <input type="hidden" id="hiddenselectedjobtemplateid" value="@ViewBag.JobTemplateId" />
            <div class="panel-body">
                <table class="new-tble scrol-tble">
                    <tbody>
                        <tr>
                            <td>Template Name</td>
                            <td> <label id="labeljobtemplate"></label></td>
                        </tr>
                        <tr>
                            <td>Job Title</td>
                            <td> <label id="labeljobtitle"></label></td>
                        </tr>
                        <tr>
                            <td>Company Job Id</td>
                            <td> <label id="labelcompanyjobid"></label></td>
                        </tr>
                        <tr>
                            <td>Job Location</td>
                            <td> <label id="labeljoblocation"></label></td>
                        </tr>
                        <tr>
                            <td>Pay</td>
                            <td> <label id="labelpay"></label></td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td> <label id="labelduration"></label></td>
                        </tr>
                        <tr>
                            <td>Experience</td>
                            <td> <label id="labelexperience"></label></td>
                        </tr>
                        <tr>
                            <td>Job Types</td>
                            <td> <label id="labeljobtypes"></label></td>
                        </tr>
                        <tr>
                            <td>Industry</td>
                            <td> <label id="labelindustry"></label></td>
                        </tr>
                        <tr>
                            <td>Sub Industries</td>
                            <td> <label id="labelsubindustries"></label></td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td> <label id="labelskills"></label></td>
                        </tr>
                        <tr>
                            <td>Travel Allowances</td>
                            <td> <label id="labeltravelallowances"></label></td>
                        </tr>
                        <tr>
                            <td>Is WFH Available</td>
                            <td> <label id="labelwfhavailable"></label></td>
                        </tr>
                        <tr>
                            <td>Application Method </td>
                            <td> <label id="labelapplicationmethod"></label></td>
                        </tr>
                        <tr>
                            <td>Post Dates</td>
                            <td> <label id="labelskills"></label></td>
                        </tr>
                        <tr>
                            <td>Job Status</td>
                            <td> <label id="labeljobstatus"></label></td>
                        </tr>

                        <tr>

                            <td colspan="2"><h6>Desiription</h6> <label id="labeljobdescription"></label></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div><!--/.panel-->
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/app/js/bootstrap-datepicker.js"></script>
@Scripts.Render("~/bundles/viewjobtemplate")
<script type="text/javascript">
    $(document).ready(function () {
        $("#ulsidemenu li").removeClass("active");
        $("#limenujobtemplates").addClass("active");
            getjobtemplatedetails();
        });
</script>
