
@{
    ViewBag.Title = "viewprofile";
    Layout = "~/Areas/SuperUser/Views/Shared/_SuperUserLayout.cshtml";
} 

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0)">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Profile View</li>

    </ol>
</div><!--/.row-->

<div class="row">
    <input type="hidden" id="hiddenProfileid" value="@ViewBag.ProfileId" />

    <div class="col-lg-8 col-lg-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading" id="ProfileName">
                Name <a href="/profile/list" class="btn btn-primary pull-right">Profile List</a>
            </div>

            <input type="hidden" id="hiddenselecteduserid" value="" />
            <div class="panel-body">
                <table class="new-tble scrol-tble">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td> <label id="Email">Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>AlterNate Email</td>
                            <td> <label id="AlterNateEmail">Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td> <label id="ContactNo">Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Qualification</td>
                            <td> <label id="Qualification">Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Experience</td>
                            <td> <label id="Experience">Naresh Enjapuri</label></td>
                        </tr>

                        <tr>
                            <td>Location</td>
                            <td> <label id="Location">Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Industry</td>
                            <td> <label id="Industry">Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td> <label id="Skills">Naresh Enjapuri</label></td>
                        </tr>
                        <tr>
                            <td>Resume</td>
                            <td> <a id="Resume" href="/images/myw3schoolsimage.jpg" download>Download</a></td>
                        </tr>
                        <tr>

                            <td colspan="2"><h6>Desiription</h6> <label id="labeljobdescription"></label></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div><!--/.panel-->
</div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/app/js/bootstrap-datepicker.js"></script>
@Scripts.Render("~/bundles/profileView")
<script>
    $(document).ready(function () {
        getProfileDetails();
    });
</script>

